pdfplumber
langchain
langchain-openai
langchain-chroma
scikit-learn
plotly
torch
transformers
langdetect
huggingface_hub
langchain-community
langchain-experimental
pandas
IPython
sentence-transformers
